@model IEnumerable<MiniCursos.Models.GrupoCursoQtdDisciplinas> 
@{
    ViewBag.Title = "DashboardCursos";
}

<div class="row">
    <h2>DashboardCursos</h2>
</div>
<div class="row">
    @foreach (var item in Model)
    { 
        <a href="/Cursos/DisciplinasPorCurso?id=@item.Codigo">
            <div class="col-md-2 divCursoItemDashboard">
                <div><h2> @item.Quantidade</h2></div>

                <div>@item.Curso</div>

            </div>
        </a>
       
        
    }
</div>


