@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <a href="/Cursos/Index" target="_blank">
        <div class="col-md-2 divCursoItemDashboard">
            <div><h2> Cursos</h2></div>
        </div>
    </a>

    <a href="/Disciplinas/Index" target="_blank">
        <div class="col-md-2 divCursoItemDashboard">
            <div><h2>Disciplinas</h2></div>
        </div>
    </a>


    <a href="/Home/DashboardCursos" target="_blank">
        <div class="col-md-2 divCursoItemDashboard">
            <div><h2>Dashboard</h2></div>
        </div>
    </a>



</div>
