@model MiniCursos.Models.Cursos
@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Curso</h2>

<div>
    <form action="/Cursos/Delete" method="post">
        <div>
            <label>Curso:</label>
            <label>@Model.CURSODESCRICAO</label>
            
        </div>
        <div>
            <label>Habilidade:</label>
            <label>@Model.CURSOCODHABILIDADE</label>
            
        </div>
        <div>
            <label>Modalidade:</label>
            <label>@Model.CURSOMODALIDADE</label>
            
        </div>
        <br />
        <div>
            <a class="btn btn-default" href="/Cursos/Index">Voltar</a>
            
        </div>
      
    </form>
</div>

